.switch {
    position: relative;
    display: inline-block;
    width: 40px;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked+.slider:before {
            background-color: var(--main-text-color);
        }

        &:checked+.slider {
            background-color: var(--main-bg-color);
        }

        &:checked+.slider:before {
            transform: translate(-100%, 50%);
            left: 90%;
        }
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    border: 1px solid;
}

.slider:before {
    position: absolute;
    content: "";
    height: 60%;
    aspect-ratio: 1;
    left: 10%;
    bottom: 50%;
    background-color: #000000;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    transform: translate(0, 50%);
}